/***  Developed by ApricotStudio , Dredd ***/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
  scroll-behavior: smooth;
  /*overflow: hidden;*/
}

html {
  scroll-behavior: smooth;
}

/*** MENU ***/

/*** MENU ADAPTIVE START ***/
.hamburger-menu {
  display: none;
}

/*** MENU ADAPTIVE END ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 9999;

}

header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}

.sticky {
  padding: 5px 100px;
  background: #fff;

}

.sticky ul li a {
  color: #1a1a1a;
}

.sticky a {
  color: #1a1a1a;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

header ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

/*** MENU END***/
/*** MENU ANIMATION START***/

nav {
  position: relative;
  display: flex;
}

nav a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500;
  transition: 0.6s;
}

nav #marker {
  margin-top: -5px;
  position: absolute;
  height: 4px;
  background: #333333;
  border-radius: 4px;
  transition: 0.6s;
  bottom: -8px;
  left: 0;
  width: 0;
  z-index: 999999;
}

/*** MENU ANIMATION END***/

/*** Banner START***/
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background: white;
  background-size: cover;

}

/*** Banner END***/

/*** TEST SPOILER START ***/
.services {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  width: 100%;

}

.margin100 {
  margin: 100px;
}

.services-blocks {
  display: flex;
  justify-content: center;
}

.services-intro {
  display: flex;
  justify-content: center;

  align-items: center;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 2px;
  transition: 0.6s;
  font-family: 'Lobster', cursive;
  transition: 0.6s;
}

.forum-post {

  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 30px;
  transition: 0.6s;
}

.spoiler {
  display: none;
  transition: 0.6s;
}

.show {
  display: none;
  transition: 0.6s;
}

.hide:target + .show {
  display: flex;
  transition: 0.6s;
}

.hide:target {
  display: none;
  transition: 0.6s;
}

.hide:target ~ .spoiler {
  display: flex;
  transition: 0.6s;
}


/*** TEST SPOILER END ***/

/*** SERVICES START ***/
.services-icons {
  max-height: 10vh;
  align-items: center;
  align-content: center;
  background: url(icons/implant.png);
}

.services-line {
  margin-top: -5px;
  position: relative;
  height: 4px;
  background: #333333;
  border-radius: 4px;
  transition: 0.6s;
  bottom: -8px;
  left: 0;
  width: 0;
  z-index: 99999999;
  align-items: center;
  align-content: center;

}

.services-intro {
  text-decoration: underline;
  text-decoration-style: wavy;
  align-items: center;
  align-content: center;

}

.hide {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  align-items: center;
  align-content: center;
  display: block;
  transition: 0.6s;
  font-size: 1em;
}

.button {
  display: block;
  text-align: center;
  align-items: center;
  height: 150px;
  width: 150px;

  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button2 {
  display: flex;
  text-align: center;
  align-items: center;
  height: 100%;
  width: 100%;

  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

#button-6 {

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-6 a {
  position: relative;
  transition: all .45s ease-Out;
}

#button-7 {

  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 a {
  position: relative;
  transition: all .45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .5s ease-Out;
}

#button-6:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #ccf5ff;
  transform: rotate(80deg);
  border: 2px solid #ccf5ff;
}

#button-6:hover a {
  color: #2D3120;
}

#button-7:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: #ccf5ff;
  transform: rotate(80deg);
  border: 2px solid #ccf5ff;
}

#button-7:hover a {
  color: #2D3120;
}

.services-text {
  margin: 0px 120px;
  display: flex;
  justify-content: center;
}

/*** SERVICES END ***/

/*** Echipa noastra START ***/

.echipa-noastra-slider {
  padding: 100px 100px;
}

.echipa-noastra-root {
  background-color: #e6e6e6;
}

.slider p {
  text-align: center;
  font-size: 0.8em;


}

.slide p {
  font-weight: 600;
  color: #9F9F9F;
}

.slide p b {
  color: black;
}

/*** Echipa noastra END ***/

.about-us-root {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
}

.review-root {
  background-color: #cccccc;
  -webkit-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);

}

.testimonials {
  padding: 40px 0;
  color: #434343;
  text-align: center;

}

.col:hover {
  box-shadow: inset 0 0 10px 9px #0ff;

}

.inner {
  max-width: 1200px;
  margin: auto;

  padding: 0 20px;
}

.border {
  width: 160px;
  height: 5px;
  background: #8fe9ff;
  margin: 26px auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}

.testimonial {
  background: #fff;
  padding: 30px;
}

.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

.stars {
  color: #8fe9ff;
  margin-bottom: 20px;
}


@media screen and (max-width: 960px) {
  .col {
    flex: 100%;
    max-width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    flex: 100%;
    max-width: 100%;
  }
}

.contact-us-root {
  background-color: #bfbfbf;
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 21px 51px 8px rgba(0, 0, 0, 0.75);
}

.testimonial {
  font-size: 0.85em;
}

.mapouter {
  margin-left: 50px;
  float: right;
}


.intro-intro {
  margin-top: 10%;
  font-weight: 600;
  font-size: 1.1em;
  transition: 0.6s;
}

.site_contacts_icon {
  margin-top: 25px;
}

footer {
  background-color: black;
  text-align: center;
}

.footer-text {
  text-align: center;
  color: #595959;
}

.img-services {
  width: 80px;
  height: auto;
}

.about-text {
  text-align: center;
  margin: 100px;
  margin-top: 160px;
  font-weight: 500;
}

.about-logo {
  width: 25%;
  height: 25%;
  margin-top: 160px;
}


.css-slider-wrapper {
  display: block;
  background: #FFF;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Slider */
.slider {
  width: 100%;
  height: 100%;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: 0;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  -webkit-transition: -webkit-transform 1600ms;
  transition: -webkit-transform 1600ms, transform 1600ms;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* each slide backgound color */
.slide1 {
  background: url(../images/145.png);
  background-size: cover;
  left: 0;
}

.slide2 {
  background: url(../images/146.jpg);
  background-size: cover;
  left: 100%
}

.slide3 {
  background: url(../images/147.jpg);
  background-size: cover;
  left: 200%
}

.slide4 {
  background: #607d8d;
  left: 300%;
}

.slider > div {
  text-align: center;
}

/* Slider inner slide effect */
.slider h2 {
  color: #FFF;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 120%;
  opacity: 0;
  -webkit-transform: translateX(500px);
  transform: translateX(500px);
}

.slider .button {
  color: #FFF;
  padding: 5px 30px;
  background: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  opacity: 0;
  font-size: 15px;
  line-height: 30px;
  display: inline-block;
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}

.slider h2, .slider .button {
  -webkit-transition: opacity 800ms, -webkit-transform 800ms;
  transition: transform 800ms, opacity 800ms;
  -webkit-transition-delay: 1s; /* Safari */
  transition-delay: 1s;
}

/* Next and Preive arrow */
.control {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  z-index: 55;
}

.control label {
  z-index: 0;
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: 50px;
  color: #FFF;
  cursor: pointer;
  opacity: 0.2;
}

.control label:hover {
  opacity: 0.5;
}

.next {
  right: 1%;
}

.previous {
  left: 1%;
}

/* Slider Pagger */
.slider-pagination {
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 0;
  text-align: center;
  z-index: 1000;
}

.slider-pagination label {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  margin: 0 2px;
  border: solid 1px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

/* Slider Pagger arrow event */
.slide-radio1:checked ~ .next .numb2,
.slide-radio2:checked ~ .next .numb3,
.slide-radio3:checked ~ .next .numb4,
.slide-radio2:checked ~ .previous .numb1,
.slide-radio3:checked ~ .previous .numb2,
.slide-radio4:checked ~ .previous .numb3 {
  display: block;
  z-index: 1
}

/* Slider Pagger event */
.slide-radio1:checked ~ .slider-pagination .page1,
.slide-radio2:checked ~ .slider-pagination .page2,
.slide-radio3:checked ~ .slider-pagination .page3,
.slide-radio4:checked ~ .slider-pagination .page4 {

}

/* Slider slide effect */
.slide-radio1:checked ~ .slider {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.slide-radio2:checked ~ .slider {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.slide-radio3:checked ~ .slider {
  -webkit-transform: translateX(-200%);
  transform: translateX(-200%);
}

.slide-radio4:checked ~ .slider {
  -webkit-transform: translateX(-300%);
  transform: translateX(-300%);
}

.slide-radio1:checked ~ .slide1 h2,
.slide-radio2:checked ~ .slide2 h2,
.slide-radio3:checked ~ .slide3 h2,
.slide-radio4:checked ~ .slide4 h2,
.slide-radio1:checked ~ .slide1 .button,
.slide-radio2:checked ~ .slide2 .button,
.slide-radio3:checked ~ .slide3 .button,
.slide-radio4:checked ~ .slide4 .button {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}

@media only screen and (max-width: 767px) {
  .slider h2 {
    font-size: 20px;
  }

  .slider > div {
    padding: 0 2%
  }

  .control label {
    font-size: 35px;
  }

  .slider .button {
    padding: 0 15px;
  }
}

.displaynone {
  display: none;
}

.slick-track {
  display: none;
}

#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (max-width: 1023px) {
  .sticky {
    padding: 1rem;
  }

  .services {
    padding-bottom: 100px;
  }

  .services-intro {
    margin: 0;
  }

  .about-us-root {
    flex-direction: column;
  }

  .about-logo {
    margin: 0 auto;
  }

  .about-text {
    margin: 100px;
  }

  .contact-us-root {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .img-services {
    width: 5vh;
  }

  .services-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button {
    flex: 100%;
    max-width: 20%;
  }

  .services-text {
    margin: 0 10px;
  }

  .slick-track {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mapouter {
    display: none;
  }

  .slider p {
    font-size: 0.2em;
  }

  .echipa-noastra-slider {
    padding: 0;
  }

  .about-us-root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%;
    max-width: 100%;
  }

  .services-intro {
    padding: 0 50px;
  }

  .about-text {
    margin-top: 0px;
    margin: 10px;
  }

  .contact-us-root {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 100%;
    max-width: 100%;
  }

  header .logo {
    display: none;
  }

  nav a {
    font-size: 1em;
  }

  header {
    padding: 0px;
  }

  .sticky {
    padding: 0px;
  }

  header {
    display: none;
  }

  .slide1 {

    background: url(../images/sg-phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .about-logo {
    width: 35%;
    height: 35%;
    margin-top: 0px;
  }

  .hamburger-menu {
    display: block;
  }

  .margin100 {
    margin: 0px;
  }
}